@page "/items/add"

<PageTitle>Weather forecast</PageTitle>

@using BlazorServerApp.Data
@using BlazorServerApp.Data.Models
@inject IJSRuntime JsRuntime
    

    <p>Product name </p><input type="text" @bind="@Name">
    <p></p>
    <p>Product sku</p><input type="text" @bind="@Sku">
    <p></p>

    <p>Product price</p><input type="text" @bind="@Price">
    <p></p>

    <p>Product category</p><input type="text" @bind="@Category">

    <p><button class="btn btn-primary" @onclick="AddItem">Add</button></p>

@code{

    public string Name { get; set; } = "";
    public string Sku { get; set; } = "";
    public int Price { get; set; } = 0;
    public string Category { get; set; } = "";


    async public void AddItem()
    {
        if (Name == "" || Sku == "" || Price == 0 || Category == "")
        {
            await JsRuntime.InvokeVoidAsync("alert", "Incorrect data!");
            return;
        }

        var item = new Item();
        item.Name = Name;
        item.Sku = Sku;
        item.Price = Price;
        item.Category = Category;
        var context = DataContext.GetInstance();
        context.Items.Add(item);
        context.SaveChanges();
        await JsRuntime.InvokeVoidAsync("alert", "Success!");
        
    }

}
